{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form class="form" action="" method="post">

        {{ govukRadios({
          classes: "govuk-radios",
          name: "multipleVictims",
          fieldset: {
            legend: {
              text: "Do they have a crime reference number related to any reported Modern Slavery crime, in which they are a victim?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "We only need to know the reference (if they have one) for this referral"
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}
        
        

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue",
            href: "/end-page"
          }) }}
        
          {{ govukButton({
            text: "Save and exit",
            classes: "govuk-button--secondary",
            href: "/index"
          }) }}
        </div>

      </form>

    </div>
  </div>

{% endblock %}
